.ui-content{
    padding: 0;
}
.container-fluid{
    padding: 0;
}
.login-row{
    height: 100%;
}
h1{
    top:30%;
    position: absolute;
    color: #fff;
    padding-left: 5%;
}
.login-col{
    transition:1s;
    padding: 0;
}
.login-img{
    transition:1s;
    padding:0;
}