#my-wrapper {
    padding-top : 55px;
}
#my-wrapper form {
    position :fixed;
    top      : 0px;
    z-index  : 1;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    left: 0;
}
#my-wrapper form div{
    margin-left: 88px;
    width: 50%;
}


.ui-content .ui-listview{
    margin-left: 0;
}

.ui-content{
    padding-top:0;
}
